{% extends "base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
{# {{posts}} #}

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">

var data; // global


function requestData() {
$.ajax({
  type: "GET",
  contentType: "application/json",
  url: '/api',
  dataType: 'json',
  cache: false,
  success: function(data){
  setTimeout(requestData, 5000);
  }
})

}

$(document).ready(function() {
  Highcharts.chart('container', {
    chart: {
        zoomType: 'xy',
        events: {
          load: requestData
                    }
    },
    title: {
        text: 'Home conditon'
    },
    subtitle: {
        text: 'Guoliang LI'
    },
    xAxis: [{
        categories: [data[12].title,data[11].title,data[10].title,data[9].title,data[8].title,data[7].title,data[6].title,data[5].title,data[4].title,data[3].title,data[2].title,data[1].title,data[0].title],
        crosshair: true
    }],
    yAxis: [{ // Primary yAxis
        labels: {
            format: '{value}lum',
            style: {
                color: Highcharts.getOptions().colors[2]
            }
        },
        title: {
            text: 'Distance',
            style: {
                color: Highcharts.getOptions().colors[2]
            }
        },
        opposite: true

    }, { // Secondary yAxis
        gridLineWidth: 0,
        title: {
            text: 'Temperature',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        labels: {
            format: '{value} mm',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        }

    }, { // Tertiary yAxis
        gridLineWidth: 0,
        title: {
            text: 'Humity',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        labels: {
            format: '{value} %',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        opposite: true
    },{ // Fourth yAxis
        gridLineWidth: 0,
        title: {
            text: 'Light',
            style: {
                color: Highcharts.getOptions().colors[3]
            }
        },
        labels: {
            format: '{value} ℃',
            style: {
                color: Highcharts.getOptions().colors[3]
            }
        },
        // opposite: true
    }],
    tooltip: {
        shared: true
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        x: 150,
        verticalAlign: 'top',
        y: 55,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
    },
    series: [{
        name: 'Temperature',
        type: 'spline',
        yAxis: 1,
        data: [data[12].temperature,data[11].temperature,data[10].temperature,data[9].temperature,data[8].temperature,data[7].temperature,data[6].temperature,data[5].temperature,data[4].temperature,data[3].temperature,data[2].temperature,data[1].temperature,data[0].temperature],
        tooltip: {
            valueSuffix: ' °C'
        }

    }, {
        name: 'Humity',
        type: 'spline',//column
        yAxis: 2,
        data: [data[12].humity,data[11].humity,data[10].humity,data[9].humity,data[8].humity,data[7].humity,data[6].humity,data[5].humity,data[4].humity,data[3].humity,data[2].humity,data[1].humity,data[0].humity],
        marker: {
            enabled: false
        },
        dashStyle: 'shortdot',
        tooltip: {
            valueSuffix: ' %'
        }

    }, {
        name: 'Light',
        type: 'spline',
        yAxis: 3,
        data: [data[12].light,data[11].light,data[10].light,data[9].light,data[8].light,data[7].light,data[6].light,data[5].light,data[4].light,data[3].light,data[2].light,data[1].light,data[0].light],
        tooltip: {
            valueSuffix: ' lum'
        }
    },{
        name: 'Distance',
        type: 'spline',
        data: [data[12].distance,data[11].distance,data[10].distance,data[9].distance,data[8].distance,data[7].distance,data[6].distance,data[5].distance,data[4].distance,data[3].distance,data[2].distance,data[1].distance,data[0].distance],
        tooltip: {
            valueSuffix: ' mm'
        }
    }]
});
})


</script>

 <p>


{% endblock %}